profiles {
    standard {
        trace {
            enabled = true
            file = 'trace.txt'
            fields = 'task_id,hash,name,status,exit,duration,realtime,%cpu,rss'
        }

        executor {
            queueSize = 50
            pollInterval = '30 sec'
            }

        process {
            errorStrategy = 'ignore'
            }

        env {
            TRIMMOMATIC='/Users/thanhlv/miniconda2/share/trimmomatic-0.36-3/adapters/'
            }
    }


    docker {
        docker.enabled = true

        process {
            container = 'oucru/dengue'
            errorStrategy = 'ignore'
        }
        trace {
            enabled = true
            file = 'trace-docker.txt'
            fields = 'task_id,hash,name,status,exit,duration,realtime,%cpu,rss'
        }

        executor {
            queueSize = 50
            pollInterval = '30 sec'
        }

        env {
            TRIMMOMATIC='/usr/local/share/trimmomatic-0.36-5/adapters/'
            SCRIPTS = '/scripts'
        }

    }
}
